/* Typography */
@import url(https://fonts.googleapis.com/css?family=Electrolize);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap);

html {
  font-family: "Electrolize", sans-serif;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

.icons-social i {
  font-size: 3em;
}

/* Custom Styles */

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
}

main > .intro {
  font-size: 3rem;
  font-weight: 600;
}

main > .definition {
  font-family: "Open Sans";
}

main > .tagline {
  font-size: 1rem;
  font-weight: 100;
}
