/*
  * Theme
  * powder blue afe9e5 
  * ming 1f656f
*/

main {
  background: #1f656f;
  color: #f7fff7;
}

.tagline {
  color: #afe9e5;
}

.icons-social a {
  color: #f7fff7;
}

.icons-social a svg path {
  fill: #f7fff7;
}
